.home_container {
  padding: 0 1%;
}

.home_div {
  display: flex;
  padding: 1% 0;
}

.home_left_div {
  flex-grow: 2.5;
}

.home_right_div {
  flex-grow: 1;
  min-width: 20%;
  background-color: rgb(189, 184, 184);
}

@media (max-width: 1150px) {
  .home_right_div {
    display: none;
  }
}
